<div class="row">
    <mat-table [dataSource]="dataSource" matSort>

        <!-- source Column -->
        <ng-container matColumnDef="Airport Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Airport Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Destination Column -->
        <ng-container matColumnDef="Airport Code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Airport Code </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="Airport Description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Airport Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns">
        </mat-row>
    </mat-table>

    <mat-paginator></mat-paginator>

</div>
