<form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
    <div class="row">
        <div class="col-md-4">
            <label>Source: </label>
            <input type="text" class="form-control" (keyup)="changeSourceAirport($event)" required formControlName="sourceAirport" />
            <app-search-dropdown *ngIf="sourceAirport" [model]="sourceAirport" (selectedItem)="addSourceSelection($event)"></app-search-dropdown>
        </div>

        <div class="col-md-4">
            <label>Destination</label>
            <input class="form-control" class="form-control" required (keyup)="changeDestinationAirport($event)" formControlName="destinationAirport" />
            <app-search-dropdown *ngIf="destinationAirport" [model]="destinationAirport" (selectedItem)="addDestinationSelection($event)"></app-search-dropdown>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success search-btn" type="submit" [disabled]="!searchForm.valid">Search</button>
        </div>
        <div class="col-md-4">
        <a [routerLink]="['httpinfo']">HTTP Request Details</a>&nbsp;
        <a [routerLink]="['AirportList']">Airport List</a>
        </div>
    </div>
</form>

<div class="row">
    <mat-table [dataSource]="dataSource" matSort>

        <!-- source Column -->
        <ng-container matColumnDef="source">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.source}} </mat-cell>
        </ng-container>

        <!-- Destination Column -->
        <ng-container matColumnDef="destination">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Destination </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.destination}} </mat-cell>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator></mat-paginator>

</div>

<div class="row">

    <router-outlet></router-outlet>

</div>