<div class="row">
    <div class="col-md-4">
            <label>Request Count: </label>
            <label>{{httpDetails.requestCount}}</label>
        </div>
</div>
    <div class="row">
        <div class="col-md-4">
            <label>Request '200' Count: </label>
            <label>{{httpDetails.request200Count}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Request '4xx' Count: </label>
            <label>{{httpDetails.request4XXCount}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Request '5xx' Count: </label>
            <label>{{httpDetails.request5XXCount}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Total Response Time Millis: </label>
            <label>{{httpDetails.totalResponseTimeMillis}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Avg Response Time Millis: </label>
            <label>{{httpDetails.avgResponseTimeMillis}}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>Min Response Time Millis: </label>
            <label>{{httpDetails.minResponseTimeMillis}}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>Max Response Time Millis</label>
            <label>{{httpDetails.maxResponseTimeMillis}}</label>
        </div>
    </div>
