<div class="drop-down-box">
    <div *ngIf="!model">
        ...Searching
    </div>
    <ul class="list-items" *ngIf="model">
        <li class="list-item" *ngFor="let item of model" (click)="clickItem(item)">
            {{item.description}}
        </li>
    </ul>
</div>