.drop-down-box {
    border: 1px solid #ccc;
    min-height: 100px;
    max-height: 200px;
    line-height: 20px;
    box-shadow: 2px 2px 2px 2px #ddd;
}

.list-item {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.list-item:hover {
    box-shadow: 2px #ddd;
}

.list-items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}